.swiper-button-prev,
.swiper-button-next {
  height: 32px !important;
  width: 32px !important;
  background-color: #e1e1e1;
  border-radius: 100%;
}

.swiper-button-next {
  right: 10px;
  left: auto;
}

.swiper-button-prev {
  left: 10px;
  right: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #000;
  border-radius: 100%;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: #fff !important;
}
